@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');

body {
    background-image: url('/images/phineasferb.jpg');
}

header > h1 {
    font-family: 'Hanalei Fill', cursive;
    font-size: 500%;
    text-align: center; 
    color:white; 
}

textarea {
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
    display: block;
    width: 80%;
    text-align: left;
    padding-left: 3.2rem;
    border: 1px solid black;
}

button:hover {
    background-color: red;
    color: white;
}

#output {
    border: 1px solid black;
    height : 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    padding-left: 3.2rem;
    text-align: left;
}

/** header **/
.hero {
    padding: 2rem;
}

.hero .hero-image{
    margin: auto;
    max-width: 400px;
    display: block;
}

.hero .hero-heading {
    padding-top: 1rem;
    text-align: center;
    color: var(--dark-gray);
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
}

.container-center {
    max-width: 600px;
    text-align: center;
    margin: auto;
}

#error-handler {
    border: solid 1px red;
    background-color: red;
    color: white;
    display: hidden;
}